In [ ]:
a, b , c = "Good", "Morning", 18
print(a, b, c)

Good Morning 18

In [ ]:
Name, College, Degree, Roll_no = "Sandesh", "BK", "BCA", 101
print("Hi, Good morning, i am ", Name, ", i am studying", Degree,"in", College,"College at chikodi"," my roll number is",Roll_no  )

Hi, Good morning, i am  Sandesh , i am studying BCA in BK College at chikodi  my roll number is 101

In [ ]:
x = y = z = 1002
print(x, y ,z)

1002 1002 1002

In [ ]:
A = B, C = "College", 25
print(B, C, A)

College 25 ('College', 25)

In [ ]:
A = 10
B = 20
print("Addition of",A, "And",B, "is = ",A+B)

Addition of 10 And 20 is =  30

In [ ]:
A = 10
print(type(A))

<class 'int'>

In [ ]:
X = 35
print(type(X))

<class 'int'>

In [ ]:
College = -100
print(type(College))

<class 'int'>

In [ ]:
A = 3.33
print(type(A))

<class 'float'>

In [ ]:
Number = -100.33
print(type(Number))

<class 'float'>

In [ ]:
yes = True
print(type(yes))

<class 'bool'>

In [ ]:
yes = 18
print(type(yes))

<class 'int'>

In [ ]:
yes = "False"
print(type(yes))

<class 'str'>

In [ ]:
A = "111"
print(type(A))

<class 'str'>

In [ ]:
Value = 25.3
print(type(Value))

<class 'float'>

In [ ]:
Section = "C"
print(type(Section))

<class 'str'>

In [ ]:
program = 'program'
print(type(program))

<class 'str'>

In [ ]:
String = "python programming language"
print(String)
print(type(String))

python programming language
<class 'str'>

In [ ]:
first = "BK"
second = "College"
print(((first +" "+ second)+"\n")*5)

BK College
BK College
BK College
BK College
BK College

In [ ]:
A ="BK CLG"
print(A[3])

C

In [ ]:
S = "abcdefgh"
print(S[-4])

e

In [ ]:
A = "abcdefgh"
print(A[3:7])

defg

In [ ]:
Name = "python programming languages"
print(Name[5])
print(Name[-2])
print(Name[3:14])
print(Name[20])
print(Name [6:])
print(Name[:-1])
print(Name[-22:-4])
print(Name[::1])
print(Name[::2])
print(Name[::-1])
print(Name[::-3])
print(Name[::3])

n
e
hon program
a
 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp
ph oai nas

In [ ]:
details = [101]
print(details)
print(type(details))
details.append(85.12)
print(details)
details.append(True)
print(details)
print(len(details))
print(details.pop())
print(details)
details.append("Sandesh")
print(details)
details.append(-99)
print(details)
print(len(details))
print(details[2])
print(details[-1])

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'Sandesh']
[101, 85.12, 'Sandesh', -99]
4
Sandesh
-99

In [17]:
number = [4, 2, 7, 1, 8, 5]
print(number)
number.sort()
print(number)

[4, 2, 7, 1, 8, 5]
[1, 2, 4, 5, 7, 8]