In [ ]:
# Address = 212
print(3+3)

6

In [ ]:
example = (1,"Sharath",3.12,False,1)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[3])
print(example[-1])
print(example[::-1])

(1, 'Sharath', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'Sharath', 3.12)
False
1
(1, False, 3.12, 'Sharath', 1)

In [ ]:
Number = (2,4,7,9,3,9,3,2)
print(Number)
Add = (2,4,5,7)
print(Number + Add)
print(Add * 4)
print ()

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [ ]:
first = {1,2,3,4,4,2}
second = {3,5,4,6}
print( first | second )
print(first.union(second))
print(first & second)
print(first.intersection(second))
print(first.difference(second))
print(first - second)
print(second - first)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}

In [ ]:
Dict = {"Roll_number" : 201,
        "Name"        : "Sandesh",
        "Address"     : "Hebbal",
        "Course"      : "BCA",
        "CGPA"        : 9.99,
        "Year"        : 2025
}
print(Dict)
print(len(Dict))
Dict["Gender"] = "Male"
print(Dict)
Dict["Mobile_No"] = 989898989
print(Dict)
Dict["College"] = "BK"
print(Dict)
Dict["PU College"] = " RLS"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"] = "Male"
print(Dict)
print(Dict["College"])
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 201, 'Name': 'Sandesh', 'Address': 'Hebbal', 'Course': 'BCA', 'CGPA': 9.99, 'Year': 2025}
6
{'Roll_number': 201, 'Name': 'Sandesh', 'Address': 'Hebbal', 'Course': 'BCA', 'CGPA': 9.99, 'Year': 2025, 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'Sandesh', 'Address': 'Hebbal', 'Course': 'BCA', 'CGPA': 9.99, 'Year': 2025, 'Gender': 'Male', 'Mobile_No': 989898989}
{'Roll_number': 201, 'Name': 'Sandesh', 'Address': 'Hebbal', 'Course': 'BCA', 'CGPA': 9.99, 'Year': 2025, 'Gender': 'Male', 'Mobile_No': 989898989, 'College': 'BK'}
{'Roll_number': 201, 'Name': 'Sandesh', 'Address': 'Hebbal', 'Course': 'BCA', 'CGPA': 9.99, 'Year': 2025, 'Gender': 'Male', 'Mobile_No': 989898989, 'College': 'BK', 'PU College': ' RLS'}
{'Roll_number': 201, 'Name': 'Sandesh', 'Address': 'Hebbal', 'Course': 'BCA', 'CGPA': 9.99, 'Year': 2025, 'Mobile_No': 989898989, 'College': 'BK', 'PU College': ' RLS'}
{'Roll_number': 201, 'Name': 'Sandesh', 'Address': 'Hebbal', 'Course': 'BCA', 'CGPA': 9.99, 'Year': 2025, 'Mobile_No': 989898989, 'College': 'BK', 'PU College': ' RLS', 'Gender': 'Male'}
BK
dict_keys(['Roll_number', 'Name', 'Address', 'Course', 'CGPA', 'Year', 'Mobile_No', 'College', 'PU College', 'Gender'])
dict_values([201, 'Sandesh', 'Hebbal', 'BCA', 9.99, 2025, 989898989, 'BK', ' RLS', 'Male'])
dict_items([('Roll_number', 201), ('Name', 'Sandesh'), ('Address', 'Hebbal'), ('Course', 'BCA'), ('CGPA', 9.99), ('Year', 2025), ('Mobile_No', 989898989), ('College', 'BK'), ('PU College', ' RLS'), ('Gender', 'Male')])
None

In [ ]:
Employe = {"Employe_Id"         : 1001,
           "Employe_Name"       : "Prajwal",
           "Contect_number"    : 9071326037,
           "Salary"              : 20000,
           "Email_id"           : "Prk12@gmail.com",
           "Company"            : "Apple",
           "Empolye_Habbit"     : "Gameing"
}
print(Employe)
Employe["Contry"] = "India"
print(Employe)
Employe["Pincode"] = 123456
print(Employe)
print(len(Employe))
Employe["Depertment"] = "developer"
print(Employe)
print(Employe["Salary"])
print(Employe["Email_id"])
print(len(Employe))
Employe["Deprement"] = "Testing"
print(Employe.keys())
print(Employe.popitem())
print(Employe)

{'Employe_Id': 1001, 'Employe_Name': 'Prajwal', 'Contect_number': 9071326037, 'Salary': 20000, 'Email_id': 'Prk12@gmail.com', 'Company': 'Apple', 'Empolye_Habbit': 'Gameing'}
{'Employe_Id': 1001, 'Employe_Name': 'Prajwal', 'Contect_number': 9071326037, 'Salary': 20000, 'Email_id': 'Prk12@gmail.com', 'Company': 'Apple', 'Empolye_Habbit': 'Gameing', 'Contry': 'India'}
{'Employe_Id': 1001, 'Employe_Name': 'Prajwal', 'Contect_number': 9071326037, 'Salary': 20000, 'Email_id': 'Prk12@gmail.com', 'Company': 'Apple', 'Empolye_Habbit': 'Gameing', 'Contry': 'India', 'Pincode': 123456}
9
{'Employe_Id': 1001, 'Employe_Name': 'Prajwal', 'Contect_number': 9071326037, 'Salary': 20000, 'Email_id': 'Prk12@gmail.com', 'Company': 'Apple', 'Empolye_Habbit': 'Gameing', 'Contry': 'India', 'Pincode': 123456, 'Depertment': 'developer'}
20000
Prk12@gmail.com
10
dict_keys(['Employe_Id', 'Employe_Name', 'Contect_number', 'Salary', 'Email_id', 'Company', 'Empolye_Habbit', 'Contry', 'Pincode', 'Depertment', 'Deprement'])
('Deprement', 'Testing')
{'Employe_Id': 1001, 'Employe_Name': 'Prajwal', 'Contect_number': 9071326037, 'Salary': 20000, 'Email_id': 'Prk12@gmail.com', 'Company': 'Apple', 'Empolye_Habbit': 'Gameing', 'Contry': 'India', 'Pincode': 123456, 'Depertment': 'developer'}

In [ ]:
a = 10
b = 3
c = a / b
print(type(a))
print(type(b))
print(type(c))

print(type(a / b))

print(c)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
3.3333333333333335

In [ ]:
i = 20
j = 5.5
k = i + j
print(type(k))

<class 'float'>

In [ ]:
a = 49
b = 7
print(type(a / b))

<class 'float'>

In [ ]:
i = True
print(type(i))
j = 5
print(type(i + j))

<class 'bool'>
<class 'int'>

In [ ]:
m = 2.9
n = False
o = m - n
print(type(o))

<class 'float'>

In [ ]:
p = True
q = False
r = p + q
print(type(r))

<class 'int'>

In [ ]:
n = 3.12
print(type(n))
add = int(n)
print(type(add))
mul = float(add)
print(type(mul))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
Num ="101"
print(type(Num))
add = int(Num)
print(type(add))

<class 'str'>
<class 'int'>

In [ ]:
a = True
print(type(a))

b = int(a)
print(type(b))

<class 'bool'>
<class 'int'>

In [ ]:
a = 5
print(type(a))
b = str(a)
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
a = 5
print(type(a))
b = bool(a)
print(type(b))

<class 'int'>
<class 'bool'>

In [ ]:
a = 5.57
print(type(a))
b = str(a)
print(type(b))

<class 'float'>
<class 'str'>

In [ ]:
a = 9.99
print(type(a))

print(type(bool(a)))

<class 'float'>
<class 'bool'>

In [ ]:
a = False
print(type(a))

print(type(str(a)))

<class 'bool'>
<class 'str'>

In [ ]:
a = False
print(type(a))

print(type(float(a)) )

<class 'bool'>
<class 'float'>

In [ ]:
a = "1121"
print(type(a))
print(type(float(a)))

<class 'str'>
<class 'float'>

In [ ]:
a = "1121"
print(type(a))
print(type(list(a)))

<class 'str'>
<class 'list'>

In [ ]:
a = (10, 20, 30)
print(type(a))

print(type(list(a)))

<class 'tuple'>
<class 'list'>

In [ ]:
 a = [10, 20, 30]
 print(type(a))
 print(type(tuple(a)))

<class 'list'>
<class 'tuple'>

In [ ]:
a = {"name" : "sandesh",
     "roolno" : 12}
print(type(a))

print(type(list(a)))

<class 'dict'>
<class 'list'>

In [ ]:
a = {1, 2, 3}
print(type(a))

print(type(list(a)))

<class 'set'>
<class 'list'>

In [ ]:
a = "10"
print(type(a))

print(type(tuple(a)))

<class 'str'>
<class 'tuple'>

In [ ]:
a = {1, 2, 3}
print(type(a))

print(type(tuple(a)))

<class 'set'>
<class 'tuple'>

In [ ]:
a = [1, 2, 3]
print(type(a))

print(type(tuple(a)))

<class 'list'>
<class 'tuple'>

In [ ]:
a = {"name" : "sandesh",
     "roolno" : 12}
print(type(a))

print(type(tuple(a)))

<class 'dict'>
<class 'tuple'>

In [ ]:
a = "10"
print(type(a))

print(type(set(a)))

<class 'str'>
<class 'set'>

In [1]:
a = {"s" : 32,
     "g" : "k"}
print(type(a))
print(type((a)))

<class 'dict'>
<class 'dict'>

In [3]:
a = 10
b = 20
print("before swaping")
print("a =",a,"b =",b)

print("===============")
print("after swapiung")
temp = a
a = b
b = temp
print("a =",a,"b =",b)

before swaping
a = 10 b = 20
===============
after swapiung
a = 20 b = 10

In [5]:
x = 10
y = 20
print("before swaping")
print("x =",x,"y =",y)
print("after swaping")
x = x + y
y = x - y
x = x - y
print("x =",x,"y =",y)

before swaping
x = 10 y = 20
after swaping
x = 20 y = 10