In [1]:
for i in range (5):
  for j in range(i+1,5):
      print(" ",end="")
  for j in range(5):
        print("‚öΩÔ∏è",end=" ")
  print()

    ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è
   ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è
  ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è
 ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è
‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è ‚öΩÔ∏è

In [ ]:
num=7
for i in range (0,num):
    for j in range (0,num-i-1):
        print("",end=" ")
    for j in range(0,i*2+1):
       print(chr(67+j),end=" ")
    print()

      C
     C D E
    C D E F G
   C D E F G H I
  C D E F G H I J K
 C D E F G H I J K L M
C D E F G H I J K L M N O

In [ ]:
num=7
for i in range (0,num):
    for j in range (0,num-i-1):
        print("",end=" ")
    for j in range(0,i*2+1):
       print("*", end=" ")
    print()
for i in range(0,num):
    for j in range (0,i) :
        print(" ",end=" ")
    for j in range(0,(num-i)*2*1):
        print("*",end=" ")
    print()

      *
     * * *
    * * * * *
   * * * * * * *
  * * * * * * * * *
 * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
  * * * * * * * * * * * *
    * * * * * * * * * *
      * * * * * * * *
        * * * * * *
          * * * *
            * *

In [ ]:
def add(a,b):
    print(f'addition of two numbers is{a+b}')
add(5,10)

addition of two numbers is15

In [ ]:
def fun (name,game,time) :
    print(f"I'm {name}  i'm playing {game} at {time} time")
fun(time="evening,",name="abhi",game="crikket")

I'm abhi  i'm playing crikket at evening, time

In [ ]:
def laptop(name="lenove"):
    print("my laptop name is :",name)
laptop("dell")
laptop("Asus")
laptop()
laptop("MSI")

my laptop name is : dell
my laptop name is : Asus
my laptop name is : lenove
my laptop name is : MSI

In [ ]:
# 1) example sum of numbers using *args
def add (*args):
    total=0
    for num in args:
            total +=num
    print("total value is :",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

total value is : 15
total value is : 18
total value is : 90

In [ ]:
def details(**kwargs):
   for key, value in kwargs.items():
      print(f'my details is {key} and {value}')

details(course = "bca",   section ='c',college ="bk college")
details(place="bangluru")
details(roll_num = 201,t_subject=7)
details(laptop ="lenovo",o_s="window",year=2022,version ="windows")

my details is course and bca
my details is section and c
my details is college and bk college
my details is place and bangluru
my details is roll_num and 201
my details is t_subject and 7
my details is laptop and lenovo
my details is o_s and window
my details is year and 2022
my details is version and windows

In [ ]:
#example of *args and **kwargs
def show_values (*args,**kwargs):
    print("positional arguments represented in tupal",args)
    print("key-words arguments represented in dict",kwargs)
show_values(1,2,3,4,name="shivashankar")

show_values(5,6,7,8,clss= "bca c section",gender="male")

positional arguments represented in tupal (1, 2, 3, 4)
key-words arguments represented in dict {'name': 'shivashankar'}
positional arguments represented in tupal (5, 6, 7, 8)
key-words arguments represented in dict {'clss': 'bca c section', 'gender': 'male'}

In [ ]:
i=1
fact=1
while i<6 :
      fact=fact*i
      i=i+1
print(fact)

120

In [ ]:
def fact (num):
  if num==0 or num==1:
      return num
  else:
      return num *fact (num-1)
print("factorial number is:",fact(5))

factorial number is: 120

In [ ]:
class Fruit:
  colour="orange"
  price=250
  teste="sweet"
  shape="circle"
  def juice(self):
    print("bad")
orange =Fruit()
print("orange colour is ",orange.colour)
orange.juice()

orange colour is  orange
bad

In [ ]:
class Flower:
    smell="good"
    petal=5
    size="larger"
    gender="male"
    validity=1
def decoration(self):
    print("hello good morning")
def gift(self):
    print("good night")
def marrige(self):
    print(marrige)

In [ ]:
class Fan :
   colour = "black"
   wings = 3
   c_name ="bajaj"
   price = 1500
   warrenty = "2year"
   def start (self):
       print("when click on button it'll start")
   def speed (self):
       print("based on condition it'll move fast")
   def stop (self):
       print("when click on of button it will stop")
obj = Fan()
print(obj.c_name+ " " +obj . warrenty)
obj.stop()
obj.start()

bajaj 2year
when click on of button it will stop
when click on button it'll start

In [ ]:
def fun (name):
    print("my name is a ",name)
fun("üçå")

my name is a  üçå

In [ ]:
# Banking Example
class bank :
    def_init_(self,balance):
      self.balance = balance

    def deposit(self,amount):
        self.balance =amount

SyntaxError: invalid syntax (ipython-input-3760731337.py, line 3)

In [ ]:
# Banking Example
class bank :
    def _init_(self,balance):
        self.balance = balance

    def deposit(self,amount):
        self.balance +=amount
    def withdraw (self, amount):
        if amount <=self.balance:
            self.balance -= amount

In [ ]:
# Banking Example
class Bank :
    def __init__(self,balance):
        self.balance = balance

    def deposit(self,amount):
        self.balance +=amount
    def withdraw(self, amount):
        if amount <=self.balance:
            self.balance -= amount
            print ("transaction successfully")
        else:
            print("insufficient balance")
    def re_balance(self):
        return self.balance
obj = Bank(1000)
print(obj.balance)
obj.deposit(500)
print(obj.balance)
obj.withdraw(700)
print(obj.re_balance())
obj.deposit(1000)
print("current total balance is", obj.balance)
obj.withdraw(2000)
obj.withdraw(300)
print("current total balance is" ,obj.balance)

1000
1500
transaction successfully
800
current total balance is 1800
insufficient balance
transaction successfully
current total balance is 1500

In [ ]:
# Encapsulation Example
class student:
  def __init__(self,name,marks,place):
      self._name = name       # pravite variable
      self._marks = marks     # pravite variable
      self.place = place      # pravite variable

  def set_method(self,name,marks):
     self._name = name
     self._marks = marks

  def get_method(self):
    return self._name + " " +str(self._marks)

obj = student("prajwal",85,"hebbal")
obj.set_method("shivashanker",69)
print(obj.get_method())

shivashanker 69

In [ ]:
#multiple level inheritance
class parent :
  def business(self):
    print("my parents are doing business")

class child1(parent) :
  def study (self):
    print("i'am studying BCA")

class child2(parent):
    def study (self):
        print("I'm studying PUC")

In [2]:
##Multiple level inheritance
class parent :
    def business(self) :
        print("my parents are doing business")

class child1(parent) :
    def study (self) :
        print("i'am studying bca")

class child2(parent) :
    def study (self) :
        print("I'm studying puc")

obj1=child1()
obj1.study()
obj1.business()

obj2=child2()
obj2.study()
obj2.business()

i'am studying bca
my parents are doing business
I'm studying puc
my parents are doing business