In [ ]:
sentence = "Kle bk bck college in chikodi"
count = 0
for ch in sentence :
  if ch in "aeiou" :
    count += 1
print("total vowels are : ", count)

total vowels are :  8

In [ ]:
sentence = "python programming language"
count = 0
for ch in sentence :
  if ch in "aeiou" :
    count += 1
print("total vowels are : ", count)

total vowels are :  8

In [ ]:
base = 4
height  = 5
tringle = 0.5 * base * height
print("area of a triangle is : ", tringle)

area of a triangle is :  10.0

In [ ]:
pi = 3.14
radius = 5
circle = pi * radius * radius
print("area of circle is : ", circle)

area of circle is :  78.5

In [ ]:
ex = [5, 25, 35, 28, 45, 10, 15]
lar = ex[0]
for num in ex :
  if num > lar :
    lar = num
print(lar, "is a largest num in this list/. ")

45 is a largest num in this list

In [ ]:
a = "bachelor of computer science first semester section c"
count = 0
for ch in a :
  if ch in "bcdfghjklmnpqrstvwxyz" :
    count += 1
print("total consonents are : ", count)

total consonents are :  29

In [ ]:
colours ={"purple", "pink","black","white","red","orange","gray","yellow",}
for color in colours : if colour == "black" :
break print(colour)

SyntaxError: invalid syntax (ipython-input-2827730479.py, line 2)

In [ ]:
fruits = ("apple","orange","mango","dragon fruit","greeps","banana","pinapal","pappaya","water melon ")
for fruit in fruits :
  if fruit == "greeps" :
    continue
print(fruit)

water melon

In [ ]:
mobiles = ["vivo","redmi","vivo","vivo","oppo","1plus"]
for mobile in mobiles :
  if mobile == "vivo" :
     continue
  print(mobile)

redmi
oppo
1plus

In [ ]:
movies =["kgf","chhva","bahubali","saiyar","rrr","knnadakagi onendonnu otti"]
for movie in movies :
     if movie == "trance" :
     pass
    print(Movie)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [ ]:
things = {"mobile","laptop","tab","book","pen","paper"}
for thing in things :
if thing == "mobile"
    continue
  print(thing)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [ ]:
for i in range (1,10) :
 for j in range(i) :
                        print(j,end=" ")

0 0 1 0 1 2 0 1 2 3 0 1 2 3 4 0 1 2 3 4 5 0 1 2 3 4 5 6 0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8