In [ ]:
a,b,c = 25,35,45
if a > b :
  if a > c :
    print("a is a largest no.",a)
  else :
    print("c is a largest no.",c)
else :
  if b > c :
    print("b is a largest no.",b)
  else :
    print("c is a largest no.",c)

c is a largest no. 45

In [ ]:
n = int(input("enter the no. value :"))
if n >=   0 :
  if n == 0 :
    print("zero value")
  else :
      print("positive no.")
else :
    print("negetive value")

enter the no. value :0
zero value

In [ ]:
x, y = 10, 20
option = input("enter your choice option :")
match option :
  case '+' :
    print("sum of values", x + y)
  case '-' :
    print("substraction of values", x - y)
  case '*' :
    print("multiplication of values", x * y)
  case '/' :
    print("division of values", x / y)
  case '%' :
    print("modulus of values", x % y)
  case '!=' :
    print("x is not equal to y", x != y )
  case _ :
    print("invalid operator")

enter your choice option :%
modulus of values 10

In [ ]:
day = int(input("enter a day number :"))
match day :
  case 1 : print("monday")
  case 2 : print("tuesday")
  case 3 : print("wednesday")
  case 4 : print("thuesday")
  case 5 : print("friay")
  case 6 : print("saturday")
  case 7 : print("sunday")
  case _ : print("holiday")

enter a day number :1
monday

In [ ]:
month = int(input("enter a month number :"))
match month :
  case 1 : print("janury")
  case 2 : print("februry")
  case 3 : print("march")
  case 4 : print("april")
  case 5 : print("may")
  case 6 : print("june")
  case 7 : print("july")
  case 8 : print("augst")
  case 9 : print("september")
  case 10 : print("october")
  case 11 : print("november")
  case 12 : print("december")
  case _ : print("invalid no.")

enter a month number :10
october

In [ ]:
i = 1
while i <= 60 :
  print(i,end= " ")
  i +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i = 1
add = 0
while i <= 10 :
  add = add + i
  i =  i+1

print("sum of n natural numbers :",add)

sum of n natural numbers : 55

In [ ]:
num = 5
i = 1
while i<= 10 :
  print("5*",i,"=",num*i)
  i = i + 1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
num = 153
rem = 0
sum = 0
temp = num
while num != 0:
  print( )

In [ ]:
num =153
rem =0
sum =0
tem =num
while num > 0 :
  rem = num %10
  sum =sum +rem*rem*rem
  num = num //10
if tem == sum :
  print("armstrong number")
else:
  print("not armstrong")

armstrong number

In [ ]:
num = 12321
rem = 0
rev = 0
temp = num
while num  > 0 :
  rem = num % 10
  rev = rev * 10+rem
  num = num // 10
if temp == rev :
  print("polindrom")
else :
  print("not polindrom")

polindrom

In [ ]:
i = 1
while i <= 100 :
  print(i, end = " ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [8]:
colours = ['blue', 'red', 'pink', 'black']
print(type(colours))

for i in colours :
  print(i)

<class 'list'>
blue
red
pink
black

In [9]:
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9}
for i in numbers :
  print(i)

1
2
3
4
5
6
7
8
9

In [10]:
name = "KLE BK BCA College in Chikodi"
rev =" "
for i in name :
  rev = i + rev
print(rev)

idokihC ni egelloC ACB KB ELK

In [17]:


   for i in range(1,10+1) :
       print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
sum=0
for i in range(1,11) :
    sum+=i
print("sum of n natural numbers :",sum)

sum of n natural numbers : 55

In [34]:
num=4
for i in range(1,11) :
    print("4",i,"=",num*i)

4 1 = 4
4 2 = 8
4 3 = 12
4 4 = 16
4 5 = 20
4 6 = 24
4 7 = 28
4 8 = 32
4 9 = 36
4 10 = 40

In [43]:

for i in range(2, 101,2):
     print(i,end="  ")

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84  86  88  90  92  94  96  98  100

In [44]:
for i in range(3, 102,3):
     print(i,end="  ")

3  6  9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54  57  60  63  66  69  72  75  78  81  84  87  90  93  96  99

In [61]:
fact=1
for i in range(1,6):
  fact = fact * i
print("factorial number is :",fact)

factorial number is : 120

In [66]:
a,b=0,1
for i in range(1,14) :
  print(a, end=" ")
  a,b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144