In [ ]:
print(" Hello world")

 Hello world

In [ ]:
print("Good morning")

Good morning

In [ ]:
print("Sandesh")

Sandesh

In [ ]:
print("KLE'S BK college of BBA & BCA , CHIKODI")

KLE'S BK college of BBA & BCA , CHIKODI

In [ ]:
print(5+5)

10

In [1]:
a=10
print(a)

10

In [11]:
print(" Hello world \n "*3)

 Hello world
  Hello world
  Hello world

In [7]:
print(100/3)

33.333333333333336

In [9]:
print("python programing language \n" *5)

python programing language
python programing language
python programing language
python programing language
python programing language

In [14]:
print("Hello" + "world")

Helloworld

In [22]:
print ("Good morning\n " *10)

Good morning
 Good morning
 Good morning
 Good morning
 Good morning
 Good morning
 Good morning
 Good morning
 Good morning
 Good morning

In [33]:
print("I am Prajwal k , i live in Hebbal , i completed my puc in Majalatti")

I am Prajwal k , i live in Hebbal , i completed my puc in Majalatti

In [24]:
name = "prajwal"
print(name)

prajwal

In [30]:
print("Kannada     29")
print("English     17")
print("Account     13")
print("DBMS        14")
print("CP          25")
print("IC          17")

Kannada     29
English     17
Account     13
DBMS        14
CP          25
IC          17

In [34]:
_N_A_M_E ="Computer"
print(_N_A_M_E)

Computer

In [38]:
Age = 25
age = 25
print(Age,age)

25 25

In [36]:
x =10
x =15
print(x,x)

15 15

In [39]:
y = 3.24
print(y)

3.24

In [40]:
yes = True
print(yes)

True

In [41]:
NA_12_ME = "Chikodi"
print(NA_12_ME)

Chikodi

In [43]:
name = "College"
per = 67.34
print(name,per)

College 67.34

In [47]:
College = "BK college"
Name = "prajwal"
print("My name is", Name,"I am studying in",College)

My name is prajwal I am studying in BK college

In [51]:
Year = "2020"
Persentage = "85%"
Name = "Prajwal"
print("my name is",Name,"i completed my puc in the year of",Year,",and i got",Persentage )

my name is Prajwal i completed my puc in the year of 2020 ,and i got 85%

In [53]:
  Text = "Good evening"
  Address = "I am from Chikodi"
  print("Hello",Text,", How are you,i am fine,where are you from,",Address,", so nice")

Hello Good evening , How are you,i am fine,where are you from, I am from Chikodi , so nice