In [ ]:
A = 10
B = 20=
print (A+B)

30

In [ ]:
X = int(input("Enter X value:"))
Y = int(input("Enter Y value:"))
print(X+Y)

Enter X value:10
Enter Y value:20
30

In [ ]:
X =int(input("Enter X value:"))
Y =int(input("Enter Y value:"))
print("Addion of",X,"and",Y,"is",X+Y)

Enter X value:10
Enter Y value:25
Addion of 10 and 25 is 35

In [ ]:
first = float(input("enter first value:"))
second= float(input("enter second value:"))
print(first * second)

enter first value:10
enter second value:20
200.0

In [ ]:
first_name = input("enter first name :")
last_name = input("enter second name:")
print(first_name + " " + last_name)

enter first name :prajwal
enter second name:sandesh
prajwal sandesh

In [ ]:
A= int(input("enter A value:"))
B=int(input("enter B value:"))
print("multiflication of",A,"and",B,"is", A * B)

enter A value:7
enter B value:6
multiflication of 7 and 6 is 42

In [ ]:
print("hello world")

hello world

In [ ]:
i= input()
j= input()
print(i+j)

bk
clg
bk clg

In [ ]:
X =100
Y =50
print(f'addition of {X} AND {Y} value is = {X+Y}')

addition of 100 AND 50 value is = 150

In [ ]:
X =100
Y =50
print(f'division of {X} AND {Y} value is = {X/Y}')

division of 100 AND 50 value is = 2.0

In [ ]:
# Hi, good morning my name is prajwal, i have completed mca in the year of 2020, currently i'am working in kle bca chikodi 591221
name ="prajwal"
course ="mca"
year =2020
department ="bca"
pincode = 591221
print(f'hi,good morning my name is {name} , i have completed {course } in the year of {year}, currently i am working in kle {department } chikodi {pincode}')

hi,good morning my name is prajwal , i have completed mca in the year of 2020, currently i am working in kle bca chikodi 591221

In [ ]:
n = 5
m = 10
sum = n * m
print(sum)

50

In [ ]:
a = int(input("enter a value:"))
b = int(input("enter b value:"))
print()
print("addition of two no is:",a+b)
print()
print("substaction of two no is:",a-b)
print()
print("multiplication of two no is:",a*b)
print()
print("division of two no is:",a/b)
print()
print("floor division of two no is:",a//b)
print()
print("modulus of two no is:",a%b)
print()
x = 5
y = 3
print("exponent of two is:",x**y)

enter a value:100
enter b value:50

addition of two no is: 150

substaction of two no is: 50

multiplication of two no is: 5000

division of two no is: 2.0

floor division of two no is: 2

modulus of two no is: 0

exponent of two is: 125

In [ ]:
a = 35
b = 40
print()
print(a==b)
print()
print(a!=b)
print()
print(a>b)
print()
print(a<b)
print()
print(a>=b)
print()
print(a<=b)
print()

False

True

False

True

False

True

In [ ]:
a = 20
b = 35
c = 13
d = 10

print( a == b and c < d)
print()
print( 13 != c and d < c)
print()
print( b > a and d < c)
print()
print( 20 != a and c == b)
print()
print( a < b or d==c)
print()
print( (not(a<b)) and 100 < 200 )
print()
print(not(d == 10))
print()
print( 35 != d or (not(20 == a)))
print()
print(not(c <= b and (not(a <= c))))
print()
print()

False

False

True

False

True

False

False

True

False

In [ ]:
x = 10
print(x)

x -= 2
print(x)

x *= 5
print(x)

x //= 3
print(x)

x **= 2
print(x)

x %= 4
print(x)

x += 9
print(x)

x /= 3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [2]:
n = 9
if n < 10 :
  print("10 is a greater than 9")

10 is a greater than 9

In [3]:
user_id = "20mca103"
password = 1234
if user_id == "20mca103" and password == 1234 :
  print("login successfully")

login successfully

In [8]:
ex = 59
if ex == 58 :
  print("are you undrstand")

In [11]:
name = "Sandesh"
if name <= "BKC" :
  print("my name is Sandesh")

In [14]:
num = int(input("enter a no. value :"))
if num > 0 :
  print("positive no.")
else :
  print("negetive no.")

enter a no. value :99
positive no.

In [16]:
a = int(input("enter a no. value :"))
if a % 2 ==0 :
  print("even no.")
else :
  print("odd no.")

enter a no. value :1100
even no.

In [26]:
 year = int(input("enter a year value :"))
 if year % 4 ==0 :
  print("it is leap year")
else :
  print("it is not a leap year")

enter a year value :2026
it is not a leap year

In [30]:
age = int(input("enter the age :"))
if age >= 18 :
  print("they are eligeble for voting")
else :
  print("they have to wait")

enter the age :17
they have to wait

In [34]:
user_id = input("enter the email id :")
password = int(input("enter the password :"))
if user_id == "sandesh" and password == 1234 :
  print("login successfuly")
else :
  print("invalid detalis")

enter the email id :sandesh
enter the password :1234
login successfuly

In [37]:
 persentage= int(input("enter the persentage :"))
if persentage >= 85 :
  print("distingtion")
elif persentage >= 70 :
  print("first class")
elif persentage >= 55 :
  print("second class")
elif persentage >= 35 :
  print("just pass")
else :
  print("fail, better luck next time")

enter the persentage :99
distingtion

In [43]:
prize= input("enter prize medal :")
if prize == "gold" :
  print("first prize")
elif prize == "silver" :
  print("second prize")
elif prize == "bronze" :
  print("third prize")
elif prize == "certification" :
  print("samadhankar bahumana")
else :
  print("better luck next time")

enter prize medal :gold
first prize

In [47]:
signal = input("enter the name of colour :")
if signal == "red" :
  print("stop")
elif signal == "yellow" :
  print("get ready to move")
elif signal == "green" :
  print("gooooooo")
else :
  print("invalid colour")

enter the name of colour :green
gooooooo